<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Create a new employee</title>
</head>
<body>
<h3>Welcome, Enter The Employee Details</h3>
<form method="POST" action="#" th:action="@{/employee/addEmployee}" th:object="${getEmployee}">
    <table>
        <tr>
            <td><label for="id">Employee ID: </label></td>
            <td><input type="number" id="id" name="id" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td><label for="name">Employee's name: </label></td>
            <td><input type="text" id="name" name="name" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td><label for="number">Contact's number: </label></td>
            <td><input type="number" id="number" name="phoneNumber" th:field="*{phoneNumber}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>

</body>
</html>